name: Release

on:
  push:
    tags: [v*]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14, macos-13]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - if: ${{ startsWith(matrix.os, 'mac') }}
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - run: pnpm install
      - if: ${{ startsWith(matrix.os, 'win') }}
        run: pnpm build:cc
      - if: ${{ !startsWith(matrix.os, 'win') }}
        run: pnpm build:cc
        env:
          CXXFLAGS: -std=c++17
      - run: pnpm build
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: gh release edit ${{ github.ref_name }} --draft=false
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
